@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 100%;
    height: 10vh;;
    background: #333;
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
}

.flex{
    display: flex;
}
.pointer{
    cursor: pointer;
}
.f-center{
    align-items: center;
    justify-content: center;
}

.container{
    max-width:600px;
    height: 100vh;
    margin:auto;
}
.screen{
    height: 90vh;
    flex-direction: column;
}

.screen-home{
    align-items: center;
    justify-content: space-around;
}

.screen-home button{
    width: 60%;
    height: 15vh;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    border: none;
    background: #333;
    color: #97ca3a;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}
.screen-quiz{
    justify-content: space-around;
    align-items: center;
}

#screenQuiz > img{
    width: 80%;
    height: 200px;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}

h4{
    align-self: flex-start;
    padding-left: 30px;
    margin: 0;
    color: #626673;
    padding: 10px;
}


.quiz-content{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-quiz{
    height: 15vh;
    width: 100%;
}

.btn-quiz button{
    width: 30%;
    height: 50%;
    border: none;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    background: #008000;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}

#btnEnd{
    background: #ff0000;
}

#wrong > i{
    color: #ff0000;
}
#tacan > i{
    color: #008000;
}

label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 60%;
    padding-left: 20px;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}
label>input {
    visibility: hidden;
    position: absolute;
  }

 .mark-answer{
     background: #ffa500 !important;
     color: white;
 }

#btnPlay{
    color:#ffa500;
}

#btnHome{
    color: #333;
}
.screen-result{
    justify-content: space-around;
    align-items: center;
}

#topThree h5{
    color: #626673;
}

.wrapper-result{
    width: 100%;
    flex-direction: column;
    height: 20vh;
}

.wrapper-result :nth-child(1){
font-size: 1.5rem;
color: #626673;
}

.wrapper-result :nth-child(2){
    font-size: 3rem;
    font-weight: 900;
    color: #333;
}

#btnFinish{
    border: 2px solid #333;
    color: #333;
    font-size: 2rem;
    height: 15vh;
    width: 60%;
    background: #fff;
    font-weight: 900;
}

.bg-home{
    width: 100%;
    height: 30vh;
}

p{
    font-size: 2rem;
}

.wrapper-btn{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.wrapper-btn i{
    height: 10vh;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
    justify-content: center;
    align-items: center;
    width: 10vh;
    border-radius: 50%;
}

#btnReset{
    color: #ff0000;
}

.material-icons {
    font-size: 58px;
    color: #008000;
}

.none {
    display: none;
  }