@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background: #333;
    width: 100%;
    height: 10vh;;
    background: #333;
    width: 100%;
    color: #fff;
    height: 10vh;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
}

.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}

.container{
    max-width:600px;
    height: 100vh;
    /* background-color: red; */
    margin:auto;
}
.screen{
    height: 90vh;
    /* display: flex; */
    flex-direction: column;
    /* background: violet; */
}

.screen-home{
    align-items: center;
    justify-content: space-around;
    /* background: yellow; */
}

.screen-home button{
    width: 40%;
    height: 50%;
    width: 60%;
    height: 20%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    border: none;
    background: #333;
    color: #97ca3a;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}
.screen-quiz{
    /* position: fixed; */
    /* background: grey; */
    justify-content: space-around;
    align-items: center;
    /* max-width: 600; */
}

#screenQuiz > img{
    width: 80%;
    height: 200px;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}

#screenQuiz > h4{
    align-self: flex-start;
    padding-left: 30px;
    margin: 0;
}

.quiz-content{
    /* background: violet; */
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-quiz{
    height: 20vh;
    width: 100%;
    /* background: yellowgreen; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.btn-quiz button{
    width: 30%;
    height: 50%;
    border: none;
    width: 30%;
    height: 50%;
    border: none;
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
    background: #008000;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}

#btnEnd{
    background: #ff0000;
}

#wrong > i{
    color: #ff0000;
}
#tacan > i{
    color: #008000;
}

label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 60%;
    /* border: 2px solid orange; */
    padding-left: 20px;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
}
label>input {
    visibility: hidden;
    position: absolute;
  }

 .mark-answer{
     background: #ffa500 !important;
     color: white;
    
 }

  
.screen-leaderboard{
    /* background: lightcoral; */
  
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#btnPlay{
    color:#ffa500;
}

#btnHome{
    color: #333;
}
.screen-result{
    background: pink;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.bg-home{
    position: relative;
    width: 100%;
    height: 30vh;
}

.bg-home img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
}

p{
    font-size: 2rem;
}
.wrapper-btn{
    width: 100%;
    height: 100%;
    /* background: green; */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
}

.wrapper-btn i{
    height: 10vh;
    box-shadow: 0px 3px 12px -1px rgb(165, 164, 164);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 10vh;
    border-radius: 50%;
}
.material-icons {
    font-size: 58px;
    color: green;
}
.none {
    display: none;
  }